/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */



body {
  background-color: white;
  background-size: 75% 75%;
  color: #03C505;
  font-family: 'Consolas', monospace;
}

:link {
     outline: #14e417;
     color: #14e417;
     /* The default value of background-color is `transparent`. You need to
        specify a different value, otherwise changes on :visited won't apply. */
   }
   
   :visited {
     outline: #13b816;
     color: #13b816;        /* Visited links have yellow colored text */
   }